@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    padding: 20px;
    background-color: #62DDD6;
    
}

table{
    width: 100%;
    text-align: center;
}

.titulo{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 900;  
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.form{
  
    padding-left: 30px;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

table th{
  background-color: rgb(255, 255, 255);
  color: rgb(9, 2, 57);
  font-family: 'Raleway', sans-serif;

}

table, th, td{
    border-collapse: collapse;
}
.t1 th{
    background-color: #62DDD6;
    color: rgb(9, 2, 57);
    margin: 20px;
    padding: 10px;
}

.dt1 {
    border-color: rgb(9, 2, 57);
    border-style: ridge;
}


.col-md-4 {
  float: left;
  width: 15%;
  margin-top: 15px;
}

.col-md-8 {
  float: left;
  width: 85%;
  margin-top: 15px;
}

 
.container{
    padding: 90px;
    align-content: center;
}

#btn{
  padding: 5px;
  color: rgb(9, 2, 57);
  font-weight: 900;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  border-width: 2px;
  border-color: rgb(9, 2, 57);
  border-radius: 15%;
}

#btn2{
  padding: 5px;
  color:white;
  font-weight: 900;
  background-color: rgb(30, 224, 5);
  font-family: 'Raleway', sans-serif;
  border-width: 2px;
  border-color: rgb(9, 2, 57);
  border-radius: 15%;
}

#btn3{
  padding: 5px;
  color: white;
  font-weight: 900;
  background-color:rgb(255, 3, 3);
  font-family: 'Raleway', sans-serif;
  border-width: 2px;
  border-color: rgb(9, 2, 57);
  border-radius: 15%;
}